@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

body {
  background: url('/static/images/bg2.jpg');
  align-items: center;
}
header {
  background-color: #464242;
  color: #3b296e;
  padding: 20px;
  font-family: 'Share Tech Mono', monospace;
  
}


.hero {
  text-align: center;
  color: #c7c7c7;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 5px;
  font-family: 'Share Tech Mono', monospace;
}
footer {
  background-color: #1e1e20;
  color: #fff;
  text-align: center;
  padding: 10px;
}

 
.room-container {
  display: flex;
  border: 1px ;
  justify-content: center;
}

.room-image-box {
  margin-right: 0px;
}

.room-image {

  width: 600px;
  height: 600px;
  display: block;
  max-height: 400px; /* Atur tinggi maksimum gambar */
  border-radius: 8px 0 0 8px; /* Memutar sudut atas gambar */
}

.room-info-box {

  flex: 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.room-info {
  margin-bottom: 10px;
}

.status-box {
max-width: 4000px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.status-open {
  background-color: #28a745;
  color: #fff;
}

.status-closed {
  background-color: #dc3545;
  color: #fff;
}

.text-container{
 background-color: #6f6f7025;
 width: auto;
 height: auto;
 color: #fff;
 padding: 40px 0;
}
.features {
  display: flex;
  justify-content: space-between; /* Mengatur agar fitur-fitur berjejer dengan jarak yang sama di antara mereka */
  flex-wrap: wrap; /* Memastikan fitur-fitur dapat melintas ke baris baru jika tidak cukup ruang */
  margin-bottom: 40px;
}

.feature {
  width: calc(33.33% - 20px); /* Memberikan lebar sekitar 33.33% untuk setiap fitur */
  margin-bottom: 20px;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box; /* Memastikan padding tidak memengaruhi lebar total elemen */
  
}

/* CSS for how-it-works */
.how-it-works {
  text-align: center;
  margin: 0 auto; /* Menengahkan bagian "How It Works" */
  max-width: 600px; /* Mengatur lebar maksimum agar tidak terlalu lebar */
  padding: 0 20px; /* Memberikan sedikit padding di sisi kiri dan kanan */
  margin-bottom: 40px;
}


/* CSS for footer */
.footer {
  display: flex;
  justify-content: center; /* Untuk menengahkan konten secara horizontal */
  align-items: center; /* Untuk menengahkan konten secara vertikal */
  background-color: #000000;
  color: #fff; /* Warna teks pada footer */
  text-align: center; /* Menengahkan teks di dalam footer */
  bottom: 0; /* Menempatkan footer di bagian bawah halaman */
  width: 100%; /* Menggunakan lebar 100% agar footer menempati seluruh lebar layar */
}

.footer .copy {
  color: #fff;
}
