/* style.css */

body {
  background: url("/static/images/bg3.jpg");
  display: flex;
  flex-direction:column;
  align-items: center;
}
header {
  background-color: #464242;
  color: #3b296e;
  padding: 20px;
  font-family: 'Share Tech Mono', monospace;}


.hero {
  background-image: url("/static/images/bg2.jpg");
  background-size:cover;
  text-align: center;
  color: #c7c7c7;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 5px;
  font-family: 'Share Tech Mono', monospace;
}
footer {
  background-color: #1e1e20;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
  #search-form {
    background: rgba(0, 0, 0, 0.123); /* Latar belakang hitam dengan tingkat transparansi */
    border-radius: 20px;
    padding: 10px;
}

#searchQueryInput {
    border: none;
    background: none;
    width: 89%;
    color: white; /* Mengubah warna teks menjadi putih */
}

#searchQueryInput:focus {
    outline: none;
}

#searchQuerySubmit {
    background: none;
    border: none;
    cursor: pointer;
}

#searchQuerySubmit svg {
    width: 24px;
    height: 24px;
    fill: rgb(255, 255, 255); /* Mengubah warna logo "Search" menjadi putih */
}


.room-container {
  display: flex;
  margin: 10px;
}

.room-image-box {

  margin-right: 20px;
}

.room-image {
  width: 100%; /* Gambar memenuhi lebar kontainer */
  max-height: 200px; /* Atur tinggi maksimum gambar */
  border-radius: 8px 0 0 8px; /* Memutar sudut atas gambar */
}

.room-info-box {
  flex: 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-info {
  margin-bottom: 10px;
}

.status-box {
max-width: 4000px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.status-open {
  background-color: #28a745;
  color: #fff;
}

.status-closed {
  background-color: #dc3545;
  color: #fff;
}
