<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css" />
    <!-- Link untuk font Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>SIGN IN</h2>
        <form
        class="login-form"
        method="POST"
          action="/"
        >
          <div class="input-group">
            <label for="identifier">Username or Email</label>
            <input type="text" id="identifier" name="identifier" required/>
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required/>
          </div>
          <div class="show-password-checkbox">
            <input type="checkbox" id="showpw" onclick="showPassword()">
            <label for="showpw">Show Password</label>
          </div>
          <button type="submit">Login</button>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="error-message" style="color: #0e1d31;">{{ messages[0][1] }}</div>
            {% endif %}
          {% endwith %}
        </form>
        <a href="/reset_password_request">Forgot Password?</a>
        <p>Don't have an account? <a href="/registrasi">Register here</a></p> 
      </div>
    </div>
    <!-- <script src="/static/js/login.js"></script> -->
    <script>
      function showPassword() {
        var passwordInput = document.getElementById("password");
        var checkbox = document.querySelector('input[type="checkbox"]');
  
        if (checkbox.checked) {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      }
    </script>
  </body>
</html>
