<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/login.css" />
    <!-- Link untuk font Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>SIGN UP</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              <div id="error-message" style="color: red;">{{ messages[0][1] }}</div>
          {% endif %}
        {% endwith %}
        <form
          class="login-form"
          method="POST"
          action="/registrasi"
          >
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required/>
          </div>
          <div class="input-group">
            <label for="nama">Nama Lengkap</label>
            <input type="text" id="nama" name="nama" required/>
          </div>
          <div class="input-group">
            <div class="input-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" required/>
            </div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required/>
          </div>
          <div class="input-group">
            <label for="password">Konfirmasi Password</label>
            <input type="password" id="confirm-password" name="confirm-password" required/>
          </div>
          <button type="submit">Submit</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p> 
      </div>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
