<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style-temp.css"> 
    <style>
        .custom-flash {
            position: fixed;
            top: 20px;
            right: 20px;
            max-width: 400px; /* Adjust the maximum width as needed */
            width: 100%;
            text-align: center;
            z-index: 1000;
        }
    </style>
</head>
<body class="img js-fullheight" style="background-image: url(static/images/background.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Reset Password</h2>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show custom-flash" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Forgot your password?</h3>
                        <form action="/reset_password_request" class="signin-form" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" id="identifier" name="identifier" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
                            </div>
                        </form>
                        <p class="w-100 text-center">&mdash; Remember your password? <a href="/">Sign In</a> &mdash;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
